{% extends "website/base.html" %}
{% load staticfiles %}

{% block ocd_scripts %}
    <link rel="stylesheet" href="{% static 'upload/select2/select2-bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'upload/select2/select2.css' %}">

    <script type='application/javascript' src="{% static 'upload/jquery/jquery-2.1.1.min.js' %}"></script>
    <script type='application/javascript' src="{% static 'upload/select2/select2.js' %}"></script>
{% endblock %}

{% block ocd_footer_scripts %}
        <script src="{% static 'sfapp/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'sfapp/js/sfapp.js' %}"></script>
        <script src="//assets.sunlightfoundation.com.s3.amazonaws.com/social/scripts/simple-socialite-pack.min.js"></script>
{% endblock %}
