<footer>
    <div class="sf-footer container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Open Civic Data Partners:</h4>
                </div>
            </div>

        <div class="row">
            <div class="col-md-3">
                <a href="https://developers.google.com/civic-information/" title="Google">
                    <img class="img-responsive" style="padding-top:20px;" img src="../img/partners/Google_Logo_189X62.png" width="160"  alt="Granicus Logo">
                </a>
            </div>

            <div class="col-md-3">
                <a href="http://www.granicus.com" title="Granicus">
                    <img class="img-responsive" style="padding-top:20px;" src="../img/partners/Granicus-Logo-With-Tagline.png" width="160"  alt="Granicus Logo">
                </a>
            </div>


            <div class="col-md-3">
                <a href="http://opennorth.ca/" title="Open North | Online Tools for a Better Democracy">
                    <img class="img-responsive" src="../img/partners/color_logo_horizontal.png" width="200" alt="Open North Logo">
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://sunlightfoundation.com" title="Sunlight Foundation">
                    <img class="img-responsive" src="../img/partners/SunlightFoundation_logo.png" width="180" height="auto" alt="Sunlight Foundation Logo">
                </a>
            </div>

        </div>
    </div>
</footer>