{% extends "base.html" %}
{% block pagetitle %}
    For Developers
{% endblock pagetitle %}
{% block content %}
<h2>Developers</h2>
<div class="row">
  <div class="col-sm-7">
    <p class="intro">Be part of a collaborative effort to provide tools for gathering information on local government. Write a <strong>scraper</strong>, learn about our <strong>data formats</strong>, use our <strong>API</strong> to build your own apps, or download our <strong>bulk data</strong>.</p>
  </div>
  <div class="col-sm-5 panel panel-highlight">
      <h3>Stay Updated</h3>
      <p>Join the <a href="https://groups.google.com/forum/#!forum/open-civic-data">google group</a> to keep up to date with new developments.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-5 panel panel-ocd">
    <div class="panel-header">
      <h4>Open Civic Data Formats</h4>
    </div>
    <div class="panel-body">
      <p>What is a <em>jurisdiction</em> as opposed to a <em>division</em>? What fields exist on an <em>event</em> object? What makes up a <em>division</em> id? Discover the schema for all of the OCD entities.</p>
    </div>
    <div class="panel-footer">
      <a class="ocd-btn btn-block" href="http://docs.opencivicdata.org/en/latest/data/">Data Formats</a>
    </div>
  </div>
  <div class="col-sm-6 col-md-5 col-md-offset-2 panel panel-ocd">
    <div class="panel-header">
      <h4>Writing Scrapers</h4>
    </div>
    <div class="panel-body">
      <p>We have in-depth documentation to help you get started writing scrapers to gather information for Open Civic Data.</p>
    </div>
    <div class="panel-footer">
      <a class="ocd-btn btn-block" href="http://docs.opencivicdata.org/en/latest/scrape/">Learn how</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-5 panel panel-ocd">
    <div class="panel-header">
      <h4>Open Civic Data API</h4>
    </div>
    <div class="panel-body">
      <p>Information on the elected officials and legislative activities of local governments in the U.S., plus GIS data. Covers all information collected by contributors and available as a JSON API.</p>
    </div>
    <div class="panel-footer">
      <a class="ocd-btn btn-block" href="http://docs.opencivicdata.org/en/latest/api/">API docs</a>
    </div>
  </div>
  <div class="col-sm-6 col-md-5 col-md-offset-2 panel panel-ocd">
    <div class="panel-header">
      <h4>Bulk download</h4>
    </div>
    <div class="panel-body">
      <p>Get the same data that the API provides in a JSON format. The bulk download is a good option for researchers or for testing purposes.</p>
    </div>
    <div class="panel-footer">
      <a class="ocd-btn btn-block" href="/downloads.html">Download bulk data</a>
    </div>
  </div>
</div>

{% endblock content %}