{% extends "data/base.html" %}

{% block content %}

<h1>How to format your Spreadsheet</h1>

The spreadsheet accepts data in a very simple format, which is aimed to cover
input of the most basic information about a particular Jurisdiction.

<h2>Basic Format</h2>

You can include any subset of fields below, with the exception of
<code>Name</code>, which is required for all sheets. In addition, you may
add a <i>label</i> to any of the headers, which is denoted by surounding the
label with parentheses after thee Header key. For instance, both
<code>Address</code> and <code>Address (home)</code> are valid headers.

<h2>Valid Keys</h2>

<dl>
    <!-- -->
    <dt>Name</dt>
    <dd>Name of the person that the data in the row corresponds to.</dd>

    <!-- -->
    <dt>District</dt>
    <dd>District that the person represents. This may be empty for people
        that don't have a district, such as a Mayor. (e.g. '7', '6B')</dd>

    <!-- -->
    <dt>Position</dt>
    <dd>Position that the person holds, something like "Councilmember", or "Mayor".</dd>

    <!-- -->
    <dt>Image</dt>
    <dd>Full URL to official photo or "headshot".</dd>

    <!-- -->
    <dt>Phone</dt>
    <dd>Phone number for the person, preferably with area code. (e.g. 202-555-1234)</dd>

    <!-- -->
    <dt>Address</dt>
    <dd>Full postal address where one can send mail to this person.</dd>

    <!-- -->
    <dt>Email</dt>
    <dd>Email address where one can send mail to this person.</dd>

    <!-- -->
    <dt>Fax</dt>
    <dd>Facsimile number where one can send documents to this person.</dd>

    <!-- -->
    <dt>Cell</dt>
    <dd>Cell phone number of the person.</dd>

    <!-- -->
    <dt>Website</dt>
    <dd>Official website for this person.</dd>

    <!-- -->
    <dt>Twitter</dt>
    <dd>Twitter account of this person. Full URL. (e.g. 'https://twitter.com/barackobama')</dd>

    <!-- -->
    <dt>Facebook</dt>
    <dd>Facebook account of this person. Full URL. (e.g. 'https://facebook.com/barackobama')</dd>

    <!-- -->
    <dt>Google+</dt>
    <dd>Google+ account of this person. Full URL. (e.g. 'https://plus.google.com/+BarackObama')</dd>

    <!-- -->
    <dt>Instagram</dt>
    <dd>Instagram account of this person. Full URL. </dd>

    <!-- -->
    <dt>LinkedIn</dt>
    <dd>LinkedIn account of this person. Full URL.</dd>

    <!-- -->
    <dt>Flickr</dt>
    <dd>Flickr account of this person. Full URL.</dd>

    <!-- -->
    <dt>YouTube</dt>
    <dd>YouTube account of this person. Full URL.</dd>

    <!-- -->
    <dt>Blog</dt>
    <dd>Blog of this person.</dd>

    <!-- -->
    <dt>Webform</dt>
    <dd>Contact webform of this person if one exists. </dd>

    <!-- -->
    <dt>Employer</dt>
    <dd>Person's employer (if they have a job outside the legislature).</dd>

    <!-- -->
    <dt>Source</dt>
    <dd>URL of the website where you found the data you used for this person.</dd>
</dl>

<h2>Example Data</h2>

<table border="1px">
    <tr>
        <th>Name</th>
        <th>District</th>
        <th>Position</th>
        <th>Homepage</th>
        <th>Phone (home)</th>
        <th>Phone (office)</th>
        <th>Source</th>
    </tr>
    <tr>
        <td>Jenny</td>
        <td>Ward 1</td>
        <td>Councilmember</td>
        <td>http://legislature.example.com/jenny</td>
        <td>123-876-5309</td>
        <td></td>
        <td>http://legislature.example.com/jenny</td>
    </tr>
    <tr>
        <td>Tommy</td>
        <td>Ward 2</td>
        <td>Councilmember</td>
        <td>http://legislature.example.com/tommy</td>
        <td>555-555-5555</td>
        <td>555-555-8888</td>
        <td>http://legislature.example.com/tommy</td>
    </tr>
</table>

{% endblock %}
