{% extends "data/base.html" %}

{% block content %}


<h1>Changeset {{transaction.id}} for <i>{{transaction.jurisdiction.name}}</i></h1>
The Jurisdiction ID for this changeset is
<code>{{transaction.jurisdiction.id}}</code>
<br /><br />

{% if transaction.user %}
This data was uploaded by <b>{{transaction.user.username}}</b>.
<br /><br />
The following people need review:<br />
<br />

{% else %}
This data was uploaded by a user that wasn't logged in.
{% endif %}

<h1>Global sources</h1>

<table>
    <tr>
        <th>Source</th>
        <th>Note</th>
        <th>Link</th>
    </tr>
{% for source in transaction.sources.all %}
    <tr>
        <td>Source</td>
        <td>{{source.note}}</td>
        <td><a href="{{source.url}}">{{source.url}}</a></td>
    </tr>
{% endfor %}
</table>

{% for person in transaction.people.all %}
<h1>{{person.name}}</h1>

{% if person.image %}
    <img class='thumbnail' src="{{person.image}}" alt="{{person.name}}"/>
{% endif %}

<table>
    <tr>
        <td>Name</td>
        <td>{{person.name}}</td>
    </tr>
    <tr>
        <td>District</td>
        <td>{{person.district}}</td>
    </tr>
    <tr>
        <td>Position</td>
        <td>{{person.position}}</td>
    </tr>
{% if person.party %}
    <tr>
        <td>Party</td>
        <td>{{person.party}}</td>
    </tr>
{% endif %}
</table>
<br />
<br />
{% if person.start_date or person.end_date %}
<table>
    <tr>
        <td><b>Role Start Date</b></td>
    {% if person.start_date %}
        <td>{{person.start_date}}</dt>
    {% endif %}
    </tr>

    <tr>
    {% if person.end_date %}
        <td><b>Role End Date</b></td>
        <td>{{person.end_date}}</td>
    {% endif %}
    </tr>
</table>
{% endif %}

<br />
<br />
<table>
    <tr>
        <th>What</th>
        <th>Value</th>
        <th>Note</th>
        <th>Type</th>
    </tr>
    {% for detail in person.contacts.all %}
    <tr>
        <td>Contact Detail</td>
        <td>{{detail.value}}</td>
        <td>{{detail.note}}</td>
        <td>{{detail.type}}</td>
    </tr>
    {% endfor %}
</table>
<br />
<br />
<table>
    <tr>
        <th>Link</th>
        <th>URL</th>
        <th>Note</th>
    </tr>
    {% for link in person.links.all %}
    <tr>
        <td>Link</td>
        <td><a href="{{link.url}}">{{link.url}}</a></td>
        <td>{{link.note}}</td>
    </tr>
    {% endfor %}
</table>
<br />
<br />
<table>
    <tr>
        <th>Source</th>
        <th>URL</th>
        <th>Note</th>
    </tr>
    {% for link in person.sources.all %}
    <tr>
        <td>Source</td>
        <td><a href="{{link.url}}">{{link.url}}</a></td>
        <td>{{link.note}}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}

{% if transaction.is_actionable %}

    {% if user.is_staff %}

<h1>Migrate People</h1>

If all this looks OK, we can do a migration:

    <form action="{% url "migrate" %}" method="POST" >
        <input type='hidden' value="{{transaction.id}}" name="transaction" ></input> <br />
        <input class='btn-primary' type='submit' name='approve' value='approve'></input>
        <input class='btn-danger' type='submit' name='reject' value='reject'></input><br />
        {% csrf_token %}
    </form>

    {% else %}

<h1>Migration Status</h1>
This change has not been migrated into the database yet. Please contact
an administrator if you'd like to see this migrated.

    {% endif %}

{% else %}

<h1>Action already taken</h1>

{% if transaction.approved_by %}
<div class='alert-success'>
This was already migrated by {{transaction.approved_by.username}}
</div>
{% else %}
<div class='alert-danger'>
This was already rejected by {{transaction.rejected_by.username}}
</div>
{% endif %}

{% endif %}
{% endblock %}
