{% extends "website/ocd_base.html" %}
{% load staticfiles %}

{% comment %}
    This is the base OCD template. The front-pages should all inherit from
    this template. It contains the basics for any frontpage, and some
    helpful headers for nav'ing the site.

    If you require a template that does not define this, please check out
    'website/bare.html', or extend another template from
    'website/ocd_base.html'.

      - PRT
{% endcomment %}

{% block ocd_pagetitle %}{% block pagetitle %}Home{% endblock pagetitle %}{% endblock ocd_pagetitle %}

{% block ocd_content %}
            <header id="ocd-header" class="row">
                <div class="col-xs-12 col-lg-5 col-lg-offset-1">
                    <h1>
                        <a href="/" class="home">

                            <object class="logo img-responsive" data="{% static 'website/img/OpenCivicData-Logo-01.svg' %}" type="image/svg+xml">
                              <!--[if lte IE 8]>
                              <img xlink:href="{% static 'website/img/OpenCivicData-Logo-01.png' %}" src="{% static 'website/img/OpenCivicData-Logo-01.png' %}" width="544" height="202" alt="Open Civic Data">
                              <![endif]-->
                            </object>
                            <span class="sr-only">The Open Civic Data Project</span>
                        </a>
                    </h1>
                </div>
                <div id="sitenav">
                    <nav >
                        <ul class="nav nav-header">
                            <!--<li><a href="/">Home</a></li> -->
                            <li><a href="/about/">About</a></li>
                            <li><a href="/developers/">For Developers</a></li>
                            <li><a href="/government/">For Governments</a></li>
                            <li class="last"><a href="/contact/">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
{% block content %}
{% endblock content %}
                </div>
            </div>
{% endblock ocd_content %}
