{% extends "website/base.html" %}
{% block pagetitle %}
    Contact Us
{% endblock pagetitle %}
{% block content %}
<h2>Contact Us</h2>

<div class="row">
    <div class="col-md-12 panel panel-ocd">
        <div class="panel-header">
            <h4>Need help working with Open Civic Data?</h4>
        </div>
    </div>
    <div class="col-md-8 panel panel-ocd">
        <div class="panel-body">
            <p>If your city has some of this information available in spreadsheets, APIs or open data portals, please contact the Open Civic Data developer team! We can work with you to build an adapter for your data so that it can be collected by Open Civic Data.</p>
        </div>
    </div>
    <div class="col-md-4 panel panel-ocd">
        <div class="panel-footer">
            <a class="ocd-btn" href="mailto:opencivicdata@sunlightfoundation.com">Email our developers</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 panel panel-ocd">
        <div class="panel-header">
            <h4>Have questions about Open Civic Data?</h4>
        </div>
    </div>
    <div class="col-md-8 panel panel-ocd">
        <div class="panel-body">
            <p>If you work for a government and have questions about Open Civic Data, please contact us. We'd be happy to discuss what Open Civic Data can do for your local government!</p>
        </div>
    </div>
    <div class="col-md-4 panel panel-ocd">
            <div class="panel-footer">
            <a class="ocd-btn" href="mailto:local@sunlightfoundation.com">Email our local policy team</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 panel panel-ocd">
        <div class="panel-header">
            <h4>Want to be part of the discussion?</h4>
        </div>
    </div>
    <div class="col-md-8 panel panel-ocd">
        <div class="panel-body">
            <p>Discuss and keep up to date with new developments in Open Civic Data.</p>
        </div>
    </div>
    <div class="col-md-4 panel panel-ocd">
        <div class="panel-footer">
            <a class="ocd-btn" href="https://groups.google.com/forum/#!forum/open-civic-data">Join our Google Group</a>
        </div>
    </div>
</div>

{% endblock content %}
