{% extends "data/base.html" %}

{% block content %}

transaction id: {{transaction.id}}.<br />
<br />
The following people need review:<br />
<br />

This data was uploaded by <b>{{transaction.user.username}}</b>.

<h1>Global sources</h1>

<table>
    <tr>
        <th>Source</th>
        <th>Note</th>
        <th>Link</th>
    </tr>
{% for source in transaction.sources.all %}
    <tr>
        <td>Source</td>
        <td>{{source.note}}</td>
        <td><a href="{{source.url}}">{{source.url}}</a></td>
    </tr>
{% endfor %}
</table>

{% for person in transaction.people.all %}
<h1>{{person.name}}</h1>

{% if person.image %}
    <img src="{{person.image}}" alt="{{person.name}}"/>
{% endif %}

<table>
    <tr>
        <td>Name</td>
        <td>{{person.name}}</td>
    </tr>
    <tr>
        <td>District</td>
        <td>{{person.district}}</td>
    </tr>
    <tr>
        <td>Position</td>
        <td>{{person.position}}</td>
    </tr>
</table>
<br />
<br />
<table>
    <tr>
        <th>What</th>
        <th>Value</th>
        <th>Note</th>
        <th>Type</th>
    </tr>
    {% for detail in person.contacts.all %}
    <tr>
        <td>Contact Detail</td>
        <td>{{detail.value}}</td>
        <td>{{detail.note}}</td>
        <td>{{detail.type}}</td>
    </tr>
    {% endfor %}
</table>
<br />
<br />
<table>
    <tr>
        <th>Link</th>
        <th>URL</th>
        <th>Note</th>
    </tr>
    {% for link in person.links.all %}
    <tr>
        <td>Link</td>
        <td><a href="{{link.url}}">{{link.url}}</a></td>
        <td>{{link.note}}</td>
    </tr>
    {% endfor %}
</table>
<br />
<br />
<table>
    <tr>
        <th>Source</th>
        <th>URL</th>
        <th>Note</th>
    </tr>
    {% for link in person.sources.all %}
    <tr>
        <td>Source</td>
        <td><a href="{{link.url}}">{{link.url}}</a></td>
        <td>{{link.note}}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}

{% if transaction.approved_by == None %}

    {% if user.is_staff %}

<h1>Migrate People</h1>

If all this looks OK, we can do a migration:

    <form action="{% url "migrate" %}" method="POST" >
        <input type='hidden' value="{{transaction.id}}" name="transaction" ></input> <br />
        <input type='submit'></input> <br />
        {% csrf_token %}
    </form>

    {% else %}

<h1>Migration Status</h1>
This change has not been migrated into the database yet. Please contact
an administrator if you'd like to see this migrated.

    {% endif %}

{% else %}

<h1>Already Migrated</h1>

This was already migrated by {{transaction.approved_by.username}}

{% endif %}
{% endblock %}
