{% extends "base.html" %}
{% block pagetitle %}
    Contribute
{% endblock pagetitle %}
{% block content %}
<h2>Contribute</h2>

<ol>
    <li><h5>Join our <a href="https://groups.google.com/forum/#!forum/open-civic-data">Google group</a> and keep with the development of Open Civic Data.</h5></li>
    <li><h5>Write your city about adopting Open Civic Data, and <a href="mailto:local@sunlightfoundation.com">let us know</a>!</h5></li>
    <li><h5>Contribute your city's data using our online tool. <em>Coming soon!</em></h5></li>
    <li><h5><a href="http://docs.opencivicdata.org/en/latest/scrape/">Write a scraper</a> for your hometown!</h5></li>
</ol>
{% endblock content %}