{% extends "base.html" %}
{% block pagetitle %}
    Downloads
{% endblock pagetitle %}
{% block content %}
<div class="row">
    <div class="col-md-8">
    <h2>Downloads</h2>

    <p class="intro">
    Bulk downloads will be generated roughly every month and contain the same information available via the API.
    </p>
    <p class="intro">
    Download <a href="https://s3.amazonaws.com/opencivicdata/ocd-snapshot-oct15.tar.gz">
        all OCD Data as of October 15th, 2013.  </a> (255MB)
    </p>
    </div>
</div>

{% endblock content %}