{% extends "base.html" %}
{% block pagetitle %}
    Home
{% endblock pagetitle %}
{% block content %}
<h2>Bringing Your Hometown Online</h2>
<p class="intro">Open Civic Data provides a common way to describe information about people, organizations, events, and bills at multiple levels of government. Using Open Civic Data makes it is easier for governments to share data and citizens to engage with their governments. Open Civic Data also provides guidance on how to publish all of this information so it can be shared across city, county, and state jurisdictions. Adoption of Open Civic Data can:</p>
<ul class="row">
    <li class="col-md-6"><h5>Make content about local governments easier to find.</h5></li>
    <li class="col-md-6"><h5>Provide a clear path for archiving and relating data across years.</h5></li>
    <li class="col-md-6"><h5>Help governments make their data more open to citizens and developers alike.</h5></li>
    <li class="col-md-6"><h5>Increase data portability across cities, counties, and states.</h5></li>
</ul>
<p class="intro">Want to learn more? <a href="/about/">Read a detailed description</a> of Open Civic Data.</p>
<div class="line-wrapper">
    <h3 class="line"><span class="line">Get involved!</span></h3>
</div>
<p class="h3-subheader">We can't do this by ourselves! Whether you're a public official, concerned citizen or software developer, you can help bring your government closer to the people it works for.</p>
<div class="row">
    <div class="col-sm-4 col-md-4 panel panel-ocd">
        <div class="panel-header">
            <h4>For Everyone</h4>
        </div>
        <div class="panel-body">
            <p>You can help collect and curate data. This includes researching local government bodies (e.g., town councils) and entering contact information.</p>
        </div>
        <div class="panel-footer">
            <a class="ocd-btn btn-block" href="/contribute/">Contribute!</a>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 panel panel-ocd">
        <div class="panel-header">
            <h4><a href="/government/">For Governments</a></h4>
        </div>
        <div class="panel-body">
            <p>Local government can adopt common data formats for the information they collect, publish and use. Find out how Open Civic Data can help you.</p>
        </div>
        <div class="panel-footer">
            <a class="ocd-btn btn-block" href="/government/">Learn more!</a>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 panel panel-ocd">
        <div class="panel-header">
            <h4>For Developers</h4>
        </div>
        <div class="panel-body">
            <p>Write a scraper, learn about our data formats, use our API and more.</p>
        </div>
        <div class="panel-footer">
            <a class="ocd-btn btn-block" href="/developers/">Get started!</a>
        </div>

    </div>
</div>

<div class="row">
    <div class="line-wrapper">
        <h3 class="line">
            <span class="line">Get the Data</span>
        </h3>
    </div>
    <p class="h3-subheader">As more of our partners' OCD-enabled datasets come online, we'll feature them here. But you can count on opencivicdata.org to collect all of the license-free OCD data we can find.</p>
    <div class="col-sm-6 panel panel-ocd">
        <div class="panel-header">
            <h4>From our API</h4>
        </div>
        <div class="panel-body">
            <p>Information on the elected officials and legislative activities of local governments in the U.S., plus GIS data. Covers all information collected by contributors and available as a JSON API.</p>
        </div>
        <div class="panel-footer">
            <a class="ocd-btn btn-block" href="http://docs.opencivicdata.org/en/latest/api/index.html">API documentation</a>
        </div>
    </div>
    <div class="col-sm-6 panel panel-ocd">
        <div class="panel-header">
            <h4>As a bulk download</h4>
        </div>
        <div class="panel-body">
            <p>Get the same data that the API provides in a JSON format. The bulk download is a good option for researchers or for testing purposes.</p>
        </div>
        <div class="panel-footer">
            <a class="ocd-btn btn-block" href="/downloads.html">Download bulk data</a>
        </div>
    </div>
</div>
{% endblock content %}
