<script>
$("#e6").select2({
    placeholder: "Search for a jurisdiction",
    minimumInputLength: 3,
    ajax: {
        url: "http://api.rottentomatoes.com/api/public/v1.0/movies.json",
        dataType: 'jsonp',
        data: function (term, page) {
            return {
                q: term, // search term
                page_limit: 10,
                apikey: ""
            };
        },
        results: function (data, page) {
            return {
                results: data.movies
            };
        }
    },
    formatResult: movieFormatResult,
    formatSelection: movieFormatSelection,
    dropdownCssClass: "bigdrop",
    escapeMarkup: function (m) { return m; },
});
</script>
