<footer>{% load staticfiles %}
    <div class="sf-footer container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Open Civic Data Partners:</h4>
                </div>
            </div>

        <div class="row">
            <div class="col-sm-3">
                <a href="https://developers.google.com/civic-information/" title="Google">
                    <img class="logo logo-padded img-responsive" src="{% static 'website/img/partners/Google_Logo_189X62.png' %}" width="160"  alt="Google Logo">
                </a>
            </div>

            <div class="col-sm-3">
                <a href="http://www.granicus.com" title="Granicus">
                    <img class="logo logo-padded img-responsive" src="{% static 'website/img/partners/granicus-logo-660x180.png' %}" width="160"  alt="Granicus Logo">
                </a>
            </div>


            <div class="col-sm-3">
                <a href="http://opennorth.ca/" title="Open North | Online Tools for a Better Democracy">
                    <img class="logo logo-padded img-responsive" src="{% static 'website/img/partners/color_logo_horizontal.png' %}" width="200" alt="Open North Logo">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://sunlightfoundation.com" title="Sunlight Foundation">
                    <img class="logo logo-padded img-responsive" src="{% static 'website/img/partners/SunlightFoundation_logo.png' %}" width="180" height="auto" alt="Sunlight Foundation Logo">
                </a>
            </div>

        </div>
    </div>
</footer>
