<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="The new Open Civic Data project brings your hometown online.">
        <meta name="keywords" content="Open Civic Data, Open Civic Data Project">
        <meta name="author" content="Sunlight Foundation">

        <meta property="og:title" content="Open Civic Data project" />
        <meta property="og:url" content="http://opencivicdata.org" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="The new Open Civic Data project brings your hometown online. Learn how you can help." />
        <meta property="og:image" content="http://opencivicdata.org/img/OpenCivicDatafb.png" />
        <meta property="fb:admins" content="7406790" />

        <title>{{ page.title }}</title>

        {% include head.html %}
        <script type="text/javascript" src="//use.typekit.com/tab6neo.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/sfapp.css">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />



        {% if !site.debug %}
            <script>
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ site.ga_key }}']);
                _gaq.push(['_trackPageview']);
                (function() {
                    var ga = document.createElement('script');
                    ga.type = 'text/javascript';
                    ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {% endif %}

    </head>
    <body class="{{ page.bodyclass }}">
        <div class="sf-header">
            <div class="container">
                {% include header.html %}
            </div>
        </div>

        <div class="container">
            <div class="content">
                {{ page.content }}

            </div>
        </div>
        <div class="newfooter">
            <div class="container">
                    <div class="clearfix row">
                        <div class="span12">
                            <h4>Open Civic Data Partners:</h4>
                        </div>
                    </div>

                <div class="clearfix row">
                    <div class="span3">
                        <a href="https://developers.google.com/civic-information/" title="Google">
                            <img style="padding-top:20px;" img src="../img/partners/Google_Logo_189X62.png" width="160"  alt="Granicus Logo">
                        </a>
                    </div>

                    <div class="span3">
                        <a href="http://www.granicus.com" title="Granicus">
                            <img style="padding-top:16px;" src="../img/partners/granicus-logo-660x180.png" width="160" alt="Granicus Logo">
                        </a>
                    </div>


                    <div class="span3">
                        <a href="http://opennorth.ca/" title="Open North | Online Tools for a Better Democracy">
                            <img src="../img/partners/color_logo_horizontal.png" width="200" alt="Open North Logo">
                        </a>
                    </div>
                    <div class="span3">
                        <a href="http://sunlightfoundation.com" title="Sunlight Foundation">
                            <img src="../img/partners/SunlightFoundation_logo.png" width="180" height="auto" alt="Sunlight Foundation Logo">
                        </a>
                    </div>

                </div>
            </div>
        </div>
       <!-- {% include footer.html %}-->

        <script src="js/jquery-1.8.3.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/sfapp.js"></script>
        <script src="//assets.sunlightfoundation.com.s3.amazonaws.com/social/scripts/simple-socialite-pack.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22821126-40', 'opencivicdata.org');
  ga('send', 'pageview');

</script>
</body>
</html>
